## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [17]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [18]:
# Your code here
sample_list_1 = random.sample(range(101),80)

print(sample_list_1)

[41, 40, 39, 16, 30, 2, 58, 100, 57, 0, 70, 74, 82, 62, 96, 5, 9, 46, 90, 7, 92, 49, 98, 95, 26, 12, 8, 55, 17, 88, 43, 64, 14, 20, 18, 21, 84, 73, 91, 28, 51, 44, 63, 80, 54, 61, 31, 34, 97, 79, 50, 87, 78, 10, 6, 81, 3, 76, 56, 22, 66, 19, 42, 29, 1, 75, 35, 67, 27, 23, 85, 4, 38, 93, 45, 59, 53, 13, 83, 99]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here
set1 = set(sample_list_1)

print(f' The length of set 1 is: {len(set1)}')

 The length of set 1 is: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [20]:
# Your code here

sample_list_2 = []

for i in range(0, 80):
    
    rand = random.randint(0, 100)
    
    sample_list_2.append(rand)
    
print(sample_list_2)

print(len(sample_list_2))

[38, 33, 19, 14, 4, 30, 76, 66, 8, 14, 100, 46, 46, 25, 81, 81, 97, 63, 3, 95, 98, 42, 44, 45, 87, 8, 79, 5, 11, 50, 56, 7, 36, 49, 86, 71, 63, 85, 30, 16, 68, 26, 64, 3, 26, 35, 15, 56, 43, 64, 1, 88, 53, 18, 35, 37, 79, 35, 50, 95, 79, 34, 89, 12, 21, 31, 21, 63, 55, 78, 33, 98, 94, 44, 62, 6, 86, 29, 31, 77]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here
set2 = set(sample_list_2)

print(f' The length of set 2 is: {len(set2)}')

 The length of set 2 is: 57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [22]:
# Your code here
set3 = []

for i in set1:
    if i not in set2:
        set3.append(i)

set3 = set(set3)
print(set3)

{0, 2, 9, 10, 13, 17, 20, 22, 23, 27, 28, 39, 40, 41, 51, 54, 57, 58, 59, 61, 67, 70, 73, 74, 75, 80, 82, 83, 84, 90, 91, 92, 93, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [23]:
# Your code here
set4 = []

for j in set2:
    if j not in set1:
        set4.append(j)
        
set4 = set(set4)       
print(set4)

{89, 33, 36, 37, 68, 71, 11, 77, 15, 86, 25, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
# Your code here
set5 = []

for k in set1:
    if k in set2:
        set5.append(k)
        
set5 = set(set5)        
print(set5)

{1, 3, 4, 5, 6, 7, 8, 12, 14, 16, 18, 19, 21, 26, 29, 30, 31, 34, 35, 38, 42, 43, 44, 45, 46, 49, 50, 53, 55, 56, 62, 63, 64, 66, 76, 78, 79, 81, 85, 87, 88, 95, 97, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [25]:
# Your code here
#sets_list = [len(set1), len(set2), len(set3), len(set4), len(set5)]

len_set1 = len(set1)
len_set2 = len(set2)
len_set3 = len(set3)
len_set4 = len(set4)
len_set5 = len(set5)


print(f' - set1 lenght: {len_set1}')
print(f' - set2 lenght: {len_set2}')
print(f' - set3 lenght: {len_set3}')
print(f' - set4 lenght: {len_set4}')
print(f' - set5 lenght: {len_set5}') 


import math




dif1_2 = len_set1-len_set2
dif2_3 = len_set2-len_set3
dif3_4 = len_set3-len_set4
dif4_5 = len_set4-len_set5


           


print(dif1_2, dif2_3, dif3_4, dif4_5)

 - set1 lenght: 80
 - set2 lenght: 57
 - set3 lenght: 35
 - set4 lenght: 12
 - set5 lenght: 45
23 22 23 -33

#### Create an empty set called `set6`.

In [26]:
# Your code here
set6 = []
set6 = set(set6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [27]:
# Your code here

set6.update(set3)
print('\n')
print(f'Union of set3 and set6: \n {set6}')

set6.update(set5)
print('\n')
print(f'Union of set3, set5 and set6: \n {set6}')

Union of set3 and set6:
 {0, 2, 9, 10, 13, 17, 20, 22, 23, 27, 28, 39, 40, 41, 51, 54, 57, 58, 59, 61, 67, 70, 73, 74, 75, 80, 82, 83, 84, 90, 91, 92, 93, 96, 99}


Union of set3, set5 and set6:
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 29, 30, 31, 34, 35, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 70, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [28]:
# Your code here
if set1 == set6:
    print(True)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [29]:
# Your code here
print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [30]:
# Your code here

set3_4_5 = set3.union(set4.union(set5))

print(set3_4_5)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [31]:
# Your code here

print(set1)

pop = set1.pop()

print('\n')
print(pop)

print('\n')
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 29, 30, 31, 34, 35, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 70, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}


0


{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 29, 30, 31, 34, 35, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 70, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [32]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        list_to_remove.remove(i)
    
print(list_to_remove)

[9, 11, 21, 31, 41, 51, 61, 69, 71, 81, 89, 99]